{%extends 'base.html' %}
{% load static %}
{%block title%}경로 시간 안내{%endblock%}

{%block head%}
    <script src="http://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js" integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2f404facbe64d4c8e7cb0a9620afd6c2&libraries=services"></script>
<!--     <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{naver}}"></script> -->
{%endblock%}

{%block content%}

<div id="map" style="width:500px;height:400px;"></div>
<br>
<form method="POST" id="map-form">
    {% csrf_token %}

    <label for="origin">출발지 : </label>
    <input type="text" id="origin" name="origin">
    <input type="hidden" id="origin_x" >
    <input type="hidden" id="origin_y"><br>
    
    <label for="destination">도착지 : </label>
    <input type="text" id="destination" name="destination">
    <input type="hidden" id="destination_x">
    <input type="hidden" id="destination_y">

    <button type="submit">길찾기</button> 
</form>

<div id="results" style="border: 1px solid #ddd; padding: 10px; margin-top: 20px;">
    <h3>길찾기 결과:</h3>
    <div id="route-details">

    </div>
</div>

<script>
   
    var map, geocoder;

    function initMap(){
        if (typeof kakao === 'undefined') {
            console.error("Kakao 지도 SDK가 로드되지 않았습니다.");
            return;
        }
        var container = document.getElementById('map');
        var options = {
            center : new kakao.maps.LatLng(33.450701,126.570667),
            level : 4
        };
        map = new kakao.maps.Map(container, options);
        map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC); 
        geocoder = new kakao.maps.services.Geocoder();
        console.log('Geocoder:', geocoder);

    }

    window.onload = function(){
       
        Kakao.init('2f404facbe64d4c8e7cb0a9620afd6c2');
        Kakao.isInitialized();
        initMap();

        
    }

    function searchAddress(){
        var address1 = document.getElementById('origin').value;
            geocoder.addressSearch(address1, function(result, status){
                if(status === kakao.maps.services.Status.OK){
                    var origin_x = result[0].x;
                    var origin_y = result[0].y;
                    
                    console.log(origin_x);
                    console.log(origin_y);

                    document.getElementById('origin_x').value = origin_x;
                    document.getElementById('origin_y').value = origin_y;

                    // 도착지 검색 시작
                    var address2 = document.getElementById('destination').value;
                    geocoder.addressSearch(address2, function(result, status){
                        if(status === kakao.maps.services.Status.OK){
                            var destination_x = result[0].x;
                            var destination_y = result[0].y;
                            console.log(destination_x);
                            console.log(destination_y);

                            document.getElementById('destination_x').value = destination_x;
                            document.getElementById('destination_y').value = destination_y;
                        }else{
                            alert('도착지 검색 실패: ' + status);
                        }
                    });
                }else{
                    alert('출발지 검색 실패: ' + status);
                }
            });
        }

   
            
    function getCookie(name){
        let cookieValue = null;
        if(document.cookie && document.cookie !==''){
            const cookies = document.cookie.split(';');
            for(let i=0; i<cookies.length; i++){
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length+1) === (name+'=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const data = '';
    document.getElementById('map-form').addEventListener('submit',function(event){
        event.preventDefault();
        searchAddress();
        const csrfToken = getCookie('csrftoken');

        fetch("{% url 'map_view' %}", {
            method : 'POST',
            headers : {
                'Content-Type':'application/json',
                'X-CSRFToken': csrfToken,
            },
            body : JSON.stringify({
                "origin":{
                    "x":document.getElementById('origin_x').value,
                    "y":document.getElementById('origin_y').value
                },
                "destination":{
                    'x':document.getElementById('destination_x').value,
                    'y':document.getElementById('destination_y').value
                },
                "waypoints":[
                    
                    // {"name":'name0',
                    // 'x':127.11341936045922,
                    // 'y':37.39639094915999}   
                
                ],
                "priority":"RECOMMEND",
                "car_fuel":"GASOLINE",
                'car_hipass':false,
                'alternatives':false,
                'road_details':false
            })
        })
        .then(response => response.json())
        .then(data =>{
            console.log(data);
            if (data && data.routes && data.routes.length>0){
                const route = data.routes[0];
                const result_msg = route.result_msg;
                console.log('길찾기 결과: ', result_msg);

                if(route.summary){
                    console.log("총 거리: ", route.summary.distance);
                    console.log("예상 시간:", route.summary.duration);
                }
                if (route.sections && route.sections.length > 0) {
                route.sections.forEach((section, index) => {
                    console.log(`섹션 ${index + 1}:`);
                    console.log("이동 거리:", section.distance);
                    console.log("예상 시간:", section.duration);
                });
                displayRouteDetails(data);
            }
        }else{
            console.error('error : 길찾기 결과가 없습니다.');
        }
        })
        .catch(error => console.error("Error", error));
    });

    function displayRouteDetails(data){
        const routeDetailsDiv = document.getElementById('route-details');
        routeDetailsDiv.innerHTML = '';

        if (data && data.routes && data.routes.length > 0){
            const route = data.routes[0];
            let resultHTML = `<p>트랜잭션 ID : ${data.trans_id}</p>`;
            resultHTML += `<p>결과 : ${route.result_msg}</p>`;

            if(route.summary){
                resultHTML += `<h4>경로 요약 정보:</h4>`;
                resultHTML += `<p>총 거리: ${route.summary.distance}m</p>`;
                resultHTML += `<p>예상 시간: ${Math.round(route.summary.duration/60)}분</p>`;
                // resultHTML += `<p>최소 도착 시간 : ${route.summary.eta}</p>`;
            }

            if (route.sections && route.sections.length > 0){
                route.sections.forEach((section, index)=>{
                    resultHTML += `<h4>섹션 ${index +1}:</h4>`;
                    resultHTML += `<p>이동 거리: ${section.distance}m</p>`;
                    resultHTML += `<p>예상 시간: ${Math.round(section.duration/60)}분</p>`;

                    if (section.nodes && section.nodes.length > 0) {
                        resultHTML += `<ul>`;
                        section.nodes.forEach((node, nodeIndex) => {
                            resultHTML += `<li>노드 ${nodeIndex + 1}: 좌표(${node.x}, ${node.y}), 도로명: ${node.name}</li>`;
                        });
                        resultHTML += `</ul>`;
                    }
                });
            }

            // 결과 HTML 추가
            routeDetailsDiv.innerHTML = resultHTML;
        } else {
            routeDetailsDiv.innerHTML = '<p>길찾기 결과가 없습니다.</p>';
        }
    }


</script>


{%endblock%}
